/* universal */
.product-card {
  border: var(--border-secondary);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-md);
  transition: transform var(--transition-normal);
  background-color: var(--color-background);
}

.product-card:hover {
  /* transform: translateY(-4px); */
  background-color: var(--color-background-alt);
  box-shadow: var(--shadow-md);
}

/* merch */
.product-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  transition: transform var(--transition-normal);
}
