PUBLIC_SITE_URL='http://localhost:8888'
PUBLIC_STRIPE_KEY='pk_xxxxxxxxxxxx'
SECRET_STRIPE_KEY='sk_xxxxxxxxxxxx'
SECRET_STRIPE_WEBHOOK_SECRET='whsec_xxxxxxxxxxxx'

PUBLIC_SANITY_PROJECT_ID='YOUR_PROJECT_ID'
PUBLIC_SANITY_DATASET='development'
SECRET_BREVO_API_KEY='xkeysib-xxxxxxxxxxxx'

# Brevo (formerly Sendinblue) template and list related environment variables
BREVO_CONFIRMED_SUBSCRIBERS_LIST_ID='0'
BREVO_PENDING_SUBSCRIBERS_LIST_ID='0'
BREVO_WELCOME_EMAIL_TEMPLATE_ID='0'
BREVO_DEFAULT_DOUBLE_OPT_IN_TEMPLATE_ID='0'
BREVO_CONTACT_AUTORESPONSE_TEMPLATE_ID='0'
BREVO_NOTIFICATION_EMAIL='0'