PUBLIC_SANITY_PROJECT_ID='YOUR_PROJECT_ID'
PUBLIC_SANITY_DATASET='development'
PUBLIC_SITE_URL='http://localhost:8888'
SECRET_STRIPE_KEY='sk_xxxxxxxxxxxx'
PUBLIC_STRIPE_KEY='pk_xxxxxxxxxxxx'
SECRET_BREVO_API_KEY='xkeysib-xxxxxxxxxxxx'
PUBLIC_CONTACT_LIST_ID='YOUR_BREVO_CONTACT_LIST_ID'
PUBLIC_NEWSLETTER_LIST_ID='YOUR_BREVO_NEWSLETTER_LIST_ID'