/* ----------------ABOUT---------------- */

.about-image {
  margin-top: 0;

  img {
    width: 30rem;
    max-width: 100%; /* Ensures the image scales properly */
    height: auto; /* Maintains aspect ratio */

    /* border: 5px outset aquamarine; */
    border-radius: var(--border-radius-md);
  }
}

.about-text {
  margin-top: 0;
  margin-left: 0;

  h3 {
    text-align: left;
  }

  p {
    font-size: var(--font-size-base);
  }
}

.signature {
  text-align: right;
}
