/* ---------------- COLLABS ---------------- */

.project-image img {
  padding: var(--spacing-md);
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  border: var(--border-secondary);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-background);
}

.project-text {
  margin-top: 0;
  margin-left: 0;

  h3 {
    text-align: center;
  }

  p {
    font-size: var(--font-size-base);
  }
}
