@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* ----------------VARIABLES---------------- */
/* Suggested Basic Stylings! */
/* body{margin:40px
    auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
    10px;}
h1,h2,h3{line-height:1.2} */
/* line-height: 1.4;
text-size: 16px;
line-width: 60-80; */

/* button styles:
primary, secondary, tertiary

spacing and sizing system:
font sizes: 4,8,12,16,24,32,48,64,96,128,192,256,384,512,640,768
padding and margins:
*/

/* ------------------- CSS RESET ------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------------------- VARIABLES ------------------- */
:root {
  /* Default Theme (Purple & Blush) */
  --color-primary: #190a2a; /* Dark Purple */
  --color-secondary: #bb85aa; /* Blush */
  --color-accent: #f3d2c1;

  /* Common Colors */
  --color-text-primary: #190a2a; /* Dark Purple */
  --color-text-secondary: slategray;
  --color-text-light: whitesmoke;
  --color-text-muted: #504646;
  --color-border: #e88a8a;
  --color-border-dark: #ce7b7b;
  --color-shadow: #000020;
  --color-background: #ffffff;
  --color-background-alt: #f8f8f8;
  --color-button-primary: rgb(146, 131, 170);
  --color-button-secondary: #e88a8a;
  --color-button-tertiary: #ce7b7b;

  /* Color Alerts */
  --color-error: #dc3545;
  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-info: #17a2b8;

  /* Typography */
  --font-primary: "Russo One", sans-serif;
  --font-secondary: "Open Sans", arial, sans-serif;
  --font-size-xs: 0.5rem; /* 8px */
  --font-size-sm: 0.75rem; /* 12px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.5rem; /* 24px */
  --font-size-xl: 2rem; /* 32px */
  --font-size-2xl: 3rem; /* 48px */
  --font-size-3xl: 4rem; /* 64px */
  --font-size-4xl: 6rem; /* 96px */

  /* Spacing */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-2xl: 3rem; /* 48px */

  /* Borders */
  --border-radius-sm: 0.5rem;
  --border-radius-md: 1rem;
  --border-radius-lg: 1.5rem;
  --border-radius-circle: 50%;
  --border-thickness-sm: 0.25rem;
  --border-thickness-md: 0.5rem;
  --border-thickness-lg: 1rem;

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);

  /* Transitions */
  --transition-fast: 150ms ease;
  --transition-normal: 300ms ease;

  /* Layout */
  --container-width: 1200px;
  --header-height: 70px;
  --footer-height: 2.5rem;

  /* Media Queries */
  --screen-xs: 0;
  --screen-sm: 576px;
  --screen-md: 768px;
  --screen-lg: 992px;
  --screen-xl: 1200px;

  /* My Variables */
  --background-yellow: #faba76;
  --background-orange: #ff8a79;
  --height-icon: 30px;
  --overlay-opacity: 0.6;
}

/* Dark Theme */
/* [data-theme="dark"] {
  --color-text: #f5f5f5;
  --color-text-light: #190a2a;
  --color-text-muted: #999999;
  --color-background: #121212;
  --color-background-alt: #1e1e1e;
  --color-border: #333333;
} */

/* ------------------- BASE STYLES ------------------- */
body {
  /* display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh; */

  font-family: var(--font-secondary);
  font-size: var(--font-size-base);
  color: var(--color-text-primary);
  background-color: var(--color-background);

  line-height: 1.6;
  letter-spacing: 1.6px;
}

h1,
h2,
h3 {
  font-family: var(--font-primary);
  /* margin-bottom: var(--spacing-md); */
  /* margin-top: var(--spacing-md); */
  /* margin-bottom: var(--spacing-md); */
  /* line-height: 1.8; */
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* ------------------- BUTTONS ------------------- */
.button {
  font-family: var(--font-secondary);
  font-size: var(--font-size-base);
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  /* background-color: var(--color-border); */
  color: #000;
  cursor: pointer;
  border: 3px solid;
  /* padding: 0.25em 0.5em; */
  padding: var(--spacing-sm) var(--spacing-md);
  box-shadow:
    1px 1px 0px 0px,
    2px 2px 0px 0px,
    3px 3px 0px 0px,
    4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: opacity 0.15s;
  /*  transition: all var(--transition-normal); */
}

.button:hover {
  transform: translateY(-2px);
  opacity: 0.8;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.button-formating {
  /* display: flex; */
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: var(--spacing-xl);
}

.button-primary {
  background-color: var(--color-button-primary);
}

.button-secondary {
  background-color: var(--color-button-secondary);
}

.button-tertiary {
  background-color: var(--color-button-tertiary);
}

/* ------------------- PRODUCT CARDS ------------------- */
/* .product-card {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-md);
  transition: transform var(--transition-normal);
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-md);
} */

/* ------------------- ANIMATIONS ------------------- */
/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn var(--transition-normal);
} */

/* ----------------UNIVERSAL ELEMENT SELECTORS---------------- */
body {
  background: radial-gradient(whitesmoke, #d68e8e);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; /* Ensures the background covers the entire viewport */
  background-position: center center;
  margin: 0;
  padding: 0;

  position: relative;
  min-height: 100dvh;
}

main {
  /* position: relative;
  min-height: 100dvh; */
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
}

body.no-scroll {
  overflow: hidden;
  overscroll-behavior: none;
}

/* all lists have no bullet points */
ul,
ol {
  list-style-type: none;
}

/* all links have unified color */
a {
  text-decoration: none;
  color: var(--color-text-primary);
}

/* all links have unified color on hover */
a:hover {
  color: var(--blush);
}

/*
h1 {
  font-family: var(--font-primary);
  font-size: calc(16px + 10vw);
  line-height: 150%;
  text-transform: uppercase;
  color: var(--primary-font-color);
  letter-spacing: 0.1rem;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
}
*/

h2 {
  font-family: var(--font-primary);
  font-size: calc(16px + 3.5vw);
  letter-spacing: 0.1rem;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--color-text-primary);
  text-align: center;
  margin: 0;
  padding: 0;
}
/*
h3 {
  font-family: var(--font-primary);
  font-size: calc(16px + 2rem);
  text-align: left;
}

h4 {
  font-family: var(--font-primary);
  font-size: calc(16px + 1rem);
}

p {
  font-family: var(--font-secondary);
  font-size: calc(16px + 0.5rem);
  line-height: 100%;
  color: slategray;
  letter-spacing: 0.1rem;
  line-height: normal;
}*/

/* ----------------UNIVERSAL CLASSES---------------- */

.heading {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-2xl) var(--spacing-2xl);
  /* margin-bottom: var(--spacing-md); */
  overflow: auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-text-primary);
  width: inherit; /* Inherit the width of the parent */
  min-width: 200px;

  /* border: 1px solid var(--dark-purple); */
  /* border-radius: 100px; */
  /* padding-top: 100px; */
  /* padding-bottom: 100px; */
  /* padding-left: 0px; */
  /* padding-right: 0px; */
  /* margin-bottom: 10%; */

  /* border: var(--dark-purple); */
  /* border-width: 5px; */
  /* border: 1rem solid var(--dark-purple); */
}

/* Style for the email input */
/* input[type="email"] { */
/*width: 70%; /* Full width of the container */
/*max-width: fit-content;
  /*padding: 10px 20px; /* Padding for a button-like look */
/*border: none; /* Remove border */
/*border-radius: 8px; /* Rounded corners */
/*background-color: #190a2a; /* Background color */
/*color: #fff; /* Text color */
/*font-size: 16px; /* Font size */
/*font-family: inherit; /* Use same font as the rest */
/*outline: none; /* Remove outline on focus */
/*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
/*margin-bottom: 5px; /* Spacing below input */
/* } */

/* Placeholder text styling */
/* input[type="email"]::placeholder {
  color: #bbb;
  opacity: 0.8;
} */

/* Add a hover effect like the button -  Darker on hover */
/* input[type="email"]:hover {
  background-color: #444;
} */

/* ----------------PORTAL---------------- */
.overlay-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ----------------HOME---------------- */
.hero-section {
  padding-top: 0px;
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  /* Hide any overflow to prevent scrollbars */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #000020; */
  /* opacity: 100%; */
  /* color: whitesmoke; */
  /* padding: 50px 50px; */
  text-align: center;
  z-index: 1000;

  h1 {
    font-size: var(--font-size-4xl);
  }

  p {
    font-size: var(--font-size-lg);
  }
}

div.scroll-container {
  /* background-color: fuchsia; */
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  /* max-height: 3rem; */
}

div.scroll-container img {
  padding: 10px;
  max-height: 20rem;
}

/* ----------------GALLERY / MERCH---------------- */

.image-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    background-color: blanchedalmond;
  }

  div {
    width: 20rem;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

/* ----------------ABOUT---------------- */

.about-image {
  display: flex;
  /* margin: auto; */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  /* object-fit: contain; */
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.about-image img {
  width: 30rem;
  /* width: 22rem;  */
  /* Adjust as necessary */
  max-width: 100%; /* Ensures the image scales properly */
  height: auto; /* Maintains aspect ratio */
  /* border: 5px outset aquamarine; */
  /* border-radius: 50%; */
  border-radius: 20%;
  /* padding: 0.5rem; */
}

.about-text {
  flex: 1; /* Allows the text container to take up remaining space */
  display: inline-block;
  justify-content: center;
  text-align: left;
  max-width: 35rem;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  /* background-color: blue; */
  text-align: justify;
  text-justify: auto;

  /* h2 {
        text-align: left;
    } */
}

/* ---------------- COLLABS ---------------- */

.project-image {
  display: inline-block;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  /* background-color: fuchsia; */
}

.project-image img {
  width: 13rem; /* Adjust as necessary */
  max-width: 100%; /* Ensures the image scales properly */
  height: auto; /* Maintains aspect ratio */
  /* border: 5px solid black; */
  border-radius: 10%;
  background-color: grey;
}

.project-text {
  flex: 1; /* Allows the text container to take up remaining space */
  display: inline-block;
  text-align: left;
  /* max-width: 35rem; */
  margin: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  text-align: justify;
  text-justify: auto;
}

/* ------------------ MODAL CONTACT FORM ------------------------ */
.contact-container {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  overscroll-behavior: contain;
}

/* Modal Content Box */
.contact-content {
  background: linear-gradient(
    180deg,
    rgb(227, 181, 241) 0%,
    rgb(148, 166, 188) 100%
  );
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  position: relative;
  text-align: center;

  h2 {
    color: rgb(88, 58, 118);
  }

  input,
  textarea {
    background: whitesmoke;
    font-family: var(--font-secondary);
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    color: var(--black-purple);
    font-size: var(--font-size-base);
    resize: none;
  }

  /* input::placeholder { */
  /* font-weight: bold; */
  /* opacity: 0.5; */
  /* color: grey;
  } */

  /* .email-field:hover {
    background: whitesmoke;
  } */

  .submit {
    align-items: center;
    margin-top: 10px;
    width: 30%;
    background-color: rgb(118, 79, 156);
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
}

/* ------------------- CART ----------------------- */
.cart-item {
  display: flex;
  align-items: center;
  padding: var(--spacing-md);
  border-bottom: 1px solid var(--color-border);
}

/* ------------------- CHECKOUT----------------------- */
#checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-purple);
}

/* ------------------- HEADER NAVIGATION ------------------- */
.header-nav {
  position: fixed;
  width: 100%; /* Changed from 100vw to prevent horizontal scroll */
  height: var(--header-height);
  background-color: var(--color-border);
  /* box-shadow: var(--shadow-md); */
  z-index: 2000;

  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box; /* Added to include padding in width calculation */
}

/* All links and buttons in the header have unified color*/
.header-nav a,
.header-nav button {
  color: var(--color-primary);
  text-decoration: none;
}

/* Hover transition and color for entire nav bar */
.header-nav a:hover,
.header-nav button:hover {
  color: var(--color-text-light);
  transition: var(--transition-normal);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-primary);
  /* font-size: calc(14px + 1rem); */
  font-size: var(--font-size-lg);
  font-weight: bold;
}

.logo-container img {
  padding-right: var(--spacing-xs);
  height: var(--height-icon);
  justify-content: center;
  align-items: center;
}

.nav-links {
  position: fixed;
  top: 0;
  right: -100%; /* Start fully off-screen */
  margin: 0;
  padding-top: var(--header-height);
  /* padding-bottom: var(--spacing-xl); */
  gap: 0;
  flex-direction: column;
  background-color: var(--color-border-dark);
  color: inherit;
  width: 25%;
  height: 100%;
  text-align: center;
  transition: var(--transition-normal);
  font-size: var(--font-size-base);
  font-family: var(--font-secondary);
  z-index: 1000;
  /* overflow: hidden; */
  transition: var(--transition-normal);
}

.nav-item {
  margin: 2rem 0;
}

/* javascript */
.show-nav-links {
  right: 0;
  /* color: inherit; */
  z-index: 1000;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: var(--font-size-base);
  font-family: var(--font-secondary);
  z-index: 1002;

  i {
    font-size: 1.5rem;
  }
}

.cart-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  visibility: visible;
  z-index: 1002;
  opacity: 1;
  /* transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0s linear 0s; */
}

/* Smooth rotation */
.nav-toggle i {
  transition: transform 0.3s ease;
}

.nav-toggle.vertical i {
  transform: rotate(90deg);
}

/* Overlay when sidebar is open */
.nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  cursor: pointer;
}

/* Javascript makes above visible*/
.nav-overlay.visible {
  display: block;
  overflow: hidden;
  background-color: var(--color-primary);
  opacity: var(--overlay-opacity);
  /* transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0s linear 0.3s; */
}

/* ------------------- FOOTER ----------------------- */
footer {
  font-family: var(--font-secondary);
  color: var(--color-text-primary);
  font-size: var(--font-size-base);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  gap: var(--spacing-xl);
  padding: var(--spacing-xl);
  /* border-bottom: var(--border-radius-sm) solid var(--color-border); */
  border-top: var(--border-radius-sm) solid var(--color-border);
  /* margin-bottom: var(--spacing-lg); */
}

.footer-section {
  display: inline;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: var(--spacing-md);
  border: var(--border-thickness-md) solid var(--color-border);
  border-radius: var(--border-radius-lg);
  background-color: var(--color-secondary);
  /* box-shadow: 2px 2px 2px var(--color-shadow); */

  column-fill: auto;
  -webkit-column-fill: auto;
  -moz-column-fill: auto;
  /* max-width: 500px; */

  /* column-width: 100px; */
  /* -webkit-column-width: 150px; */
  /* -moz-column-width: 150px; */

  a {
    text-decoration: none;
    /* color: black; */
    /* color: inherit; */
    flex: 1 1 25%; /* Each link takes up approximately 45% of the container's width */
    flex-basis: auto;
    box-sizing: border-box; /* Ensures padding and borders don't increase width */
    text-align: left; /* Aligns text inside the links */
    /* display: inline-block; */
  }

  /* a:hover {
    color: whitesmoke;
  } */
}

.footer-title {
  font-family: var(--font-primary);
  font-size: var(--font-size-lg);
  margin-bottom: 0;
  text-align: center;
  padding: var(--spacing-md);
}

.link-list {
  list-style: none;
  padding: var(--spacing-md);
  text-align: center;

  li {
    margin-bottom: var(--spacing-sm);
  }

  a {
    color: var(--color-text-muted);
    text-decoration: none;
    transition: color var(--transition-normal);
  }

  a:hover {
    color: var(--color-text-light);
  }
}

.social-link {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: var(--border-radius-circle);
  background-color: var(--color-border);
  /* color: var(--color-text-light); */
  /* transition: all var(--transition-normal); */
  margin-bottom: var(--spacing-sm);
}

/* .newsletter { */
/* max-width: 500px; */
/* } */

.newsletter p {
  margin-bottom: var(--spacing-md);
  font-family: inherit;
  color: var(--color-text-muted);
}

/* .newsletter button {
  text-align: center;
} */

.newsletter-input {
  padding: var(--spacing-sm) var(--spacing-md);
  border: none;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-background-alt);
  color: var(--color-text-primary);
  max-width: 300px;
  width: 100%;
  margin-bottom: var(--spacing-md);
}

.newsletter-input:focus {
  /* outline: none; */
  border-color: var(--color-secondary);
}

.footer-bottom {
  font-size: var(--font-size-sm);
  text-align: center;
  color: var(--color-text-light);
}

/* ------------------- RESPONSIVE DESIGN ------------------- */
@media (max-width: 768px) {
  :root {
    /* Adjust sizes for mobile */
    --font-size-3xl: 1.75rem;
    --spacing-xl: 1.5rem;
  }

  /* .container {
      padding: 0 var(--spacing-sm);
    } */
}

/* Button */
@media (min-width: 768px) {
  .button {
    padding: 0.25em 0.75em;
  }
}

/* Footer */
@media (max-width: 992px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-lg);
  }

  .newsletter {
    grid-column: span 2;
  }
}

/* Footer */
@media (max-width: 576px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .newsletter {
    grid-column: span 1;
  }
}

/* Nav header WHEN SCREEN SIZE IS LARGER THAN 768px */
@media (min-width: 768px) {
  .nav-toggle {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0s linear 0.3s;
    display: none;
  }

  .nav-links {
    position: static;
    padding: 0;
    height: auto;
    width: auto;
    background-color: transparent;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
    margin-right: var(--spacing-lg); /* Added spacing before cart */
    margin-left: auto; /* Added to push nav links to the right */
    overflow-y: visible;
  }

  .nav-item {
    margin: 0; /* Reset margin for desktop */
  }
}
