@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
  --black: #000;
  --white: #fff;
  --primary-color: #190a2a;
  --secondary-color: #4032db;
  --accent-color: aquamarine;
  --text-color: whitesmoke;
  --text-secondary: slategray;
  --primary-font: "Russo One", sans-serif;
  --secondary-font: "Open Sans", arial;
  --base-font-size: 20px;
  --title-font-size: 36px;
  --shadow: 0 5px 10px var(--black);
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 50px;
}

/* Universal Elements */
body {
  background: url("web-images/temp_rainbow.jpg") no-repeat fixed center/cover;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

nav li {
  display: inline;
}

ul {
  list-style-type: none;
}

h1 {
  font: var(--title-font-size) var(--primary-font);
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 150%;
  margin: 0;
}

h2 {
  font-family: var(--primary-font);
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 150%;
  text-align: center;
  margin: 0;
}

h3 {
  font-family: var(--primary-font);
  text-align: center;
}

h4 {
  font-family: var(--primary-font);
}

p {
  font: var(--base-font-size) var(--secondary-font);
  color: var(--text-secondary);
  letter-spacing: 0.1rem;
}

footer {
  font-family: var(--secondary-font);
  width: 100%;
  bottom: 0;
}

em {
  font: smaller var(--secondary-font);
  color: rgb(0, 255, 191);
  text-align: right;
  margin: auto;
}

/* Universal Classes */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  min-width: 200px;
}

.header-textbox {
  background: var(--primary-color);
  color: var(--text-color);
  padding: var(--spacing-lg);
  width: 15rem;
  max-width: 100%;
}

.content-container {
  background: var(--primary-color);
  padding: var(--spacing-md);
  width: 100%;
  min-width: 200px;
}

.two-column-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--spacing-sm);
  margin: var(--spacing-md) 0;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .two-column-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.nav-footer-container {
  font-family: var(--secondary-font);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: var(--spacing-sm) 5px 0;
  gap: 5px;
}

.footer-column {
  background: var(--secondary-color);
  opacity: 95%;
  border: 5px outset var(--primary-color);
  border-radius: 20px;
  flex: 1 1 30%;
  min-width: 180px;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.newsletter {
  text-align: center;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 5px 5px;
}

.social-links a {
  text-decoration: none;
  color: var(--black);
  flex: 1 1 25%;
  text-align: left;
}

.social-links a:hover {
  color: var(--text-color);
}

.link-icon {
  padding-right: 5px;
}

input[type="email"] {
  width: 70%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: var(--primary-color);
  color: var(--white);
  font: 16px var(--secondary-font);
  box-shadow: var(--shadow);
  margin-bottom: 5px;
}

input[type="email"]:hover {
  background: #444;
}

input[type="email"]::placeholder {
  color: #bbb;
  opacity: 0.8;
}

.button-54 {
  font: 16px var(--secondary-font);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--black);
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow:
    1px 1px 0px 0px,
    2px 2px 0px 0px,
    3px 3px 0px 0px,
    4px 4px 0px 0px,
    5px 5px 0px 0px;
  transition: opacity 0.15s;
}

.button-54:hover {
  opacity: 0.9;
}

.button-54:active {
  box-shadow: none;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.button-formating {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
}

/* Home Page */
.home-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding-bottom: 60px;
}

.home-title {
  font-size: 46px;
  margin: 20px;
}

.home-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary-color);
  color: var(--text-color);
  padding: var(--spacing-lg);
  text-align: center;
  z-index: 2;
}

.home-scroll {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.home-scroll img {
  padding: 10px;
  max-height: 20rem;
}

/* Gallery/Merch Page */
.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  margin: var(--spacing-md) 0;
  justify-content: center;
  gap: var(--spacing-md);
}

.gallery-grid img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  background: blanchedalmond;
}

.gallery-grid div {
  width: 20rem;
  height: 20rem;
  background: no-repeat center/cover;
}

/* About Page */
.about-image {
  display: flex;
  justify-content: center;
  padding: var(--spacing-sm);
  margin: 0 auto;
}

.about-image img {
  width: 22rem;
  max-width: 100%;
  height: auto;
  border: 5px outset var(--accent-color);
  border-radius: 50%;
  padding: 0.5rem;
}

.about-text {
  flex: 1;
  max-width: 35rem;
  margin: 0 auto;
  padding: var(--spacing-sm);
  text-align: justify;
}

/* Projects Page */
.project-image {
  display: flex;
  justify-content: center;
  padding: var(--spacing-sm);
  margin: 0 auto;
}

.project-image img {
  width: 13rem;
  max-width: 100%;
  height: auto;
  border-radius: 10%;
  background: grey;
}

.project-text {
  flex: 1;
  margin: 0 auto;
  padding: var(--spacing-sm);
  text-align: justify;
}

/* Product Pages */
.product-image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.product-image img {
  width: 70%;
  max-width: 40rem;
  height: auto;
}

.product-text {
  flex: 1;
  min-width: 40%;
  max-width: 35rem;
  padding: var(--spacing-sm);
}

.product-title {
  font-size: 28px;
  text-align: left;
}

.product-price {
  font-weight: normal;
  font-size: var(--base-font-size);
  text-align: left;
}
