<header>
  <nav class="header-nav">
    <div class="logo-container">
      <img src="static/images/web/favicon.ico" alt="Vangular Logo" />

      <a href="home.html" class="nav-logo">VANGULAR</a>
    </div>

    <ul class="nav-links">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="about.html" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="collabs.html" class="nav-link">Collabs</a>
      </li>
      <li class="nav-item">
        <a href="merch.html" class="nav-link">Merch</a>
      </li>
      <li class="nav-item">
        <a href="test.html" class="nav-link">Test JS</a>
      </li>
    </ul>

    <div class="cart-container">
      <a href="checkout.html" class="cart-button">
        <i class="fa fa-shopping-cart"></i>
        <span class="cart-count">0</span>
      </a>

      <button class="nav-toggle" aria-label="toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <div class="nav-overlay"></div>
  </nav>
</header>
