---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "404 | VANGULAR";
const keywords = "404 error";
---

<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <main>
    <section class="section">
      <div class="container column flex-center">
        <h2>404</h2>
        <h4>Page not found. <br /> Blasted broken link!</h4>
      </div>
    </section>
  </main>
</BaseLayout>
