---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About | VANGULAR";
const keywords = "about, vangular, art, design"
---

<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <Header />
  <main>
    <section class="content-container">
      <div class="two-column-container">
        <div class="about-image">
          <img
            src="/src/assets/images/web/square_me.png"
            alt="Image of the artist VANGULAR aka Valerie Angulo"
          />
        </div>

        <div class="about-text">
          <h3>Hello!</h3>
          <br />
          <p>
            I'm Valerie and welcome to VANGULAR!
            <br /><br />
            I'm a Brooklyn-based visual artist who collaborates with small
            businesses and other artists to create fun and inspiring logos and
            designs tailored to their needs.
            <br /><br />
            I love using vibrant colors and designs to ignite people's
            imaginations and create a sense of playfulness and community.
            <br /><br />
            If you'd like to inquire about commissions, contact me
            <a href="#">here</a>. Thanks for visiting my site, and I hope you
            see something that makes you smile :) <br /><br />
          </p>
          <h3>
            Lots of love,
            <br />
            Val
          </h3>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</BaseLayout>
