---
import BaseLayout from "../layouts/BaseLayout.astro";

import { Image } from "astro:assets";
import aboutMe from "../assets/images/web/square_me.png";

const pageTitle = "About | VANGULAR";
const keywords = "about, vangular, art, design";
---

<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <main>
    <section class="section">
      <div class="container grid-2">
        <div class="image-container">
          <Image
            src={aboutMe}
            alt="Image of the artist VANGULAR aka Valerie Angulo"
          />
        </div>

        <div class="text-container">
          <h5>Hello!</h5>
          <br />
          <p>
            I'm Valerie and welcome to VANGULAR!
            <br /><br />
            I'm a Brooklyn-based visual artist who collaborates with small businesses
            and other artists to create fun and inspiring logos and designs tailored
            to their needs.
            <br /><br />
            I love using vibrant colors and designs to ignite people's imaginations
            and create a sense of playfulness and community.
            <br /><br />
            If you'd like to inquire about a commission, you can contact me
            <a class="link" href="/contact" target="_blank"> here. </a>
            Thanks for visiting my site, and I hope you see something that makes
            you smile☺ <br /><br />
          </p>
          <h5>
            Lots of love,
            <br />
            Val
          </h5>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
