---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Order Cancelled | VANGULAR";
const keywords = "order cancelled, payment failure";
---

<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <main>
    <div class="container column flex-center">
      <h3>Payment Canceled</h3>
      <h4>Your payment was not completed. Please try again.</h4>
      <a href="/cart"
        ><button class="button button-primary" role="button">
          <span class="button-label"> Go Back to Cart </span>
        </button></a
      >
    </div>
  </main>
</BaseLayout>
