---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Order Cancelled | VANGULAR";
const keywords = "order cancelled, payment failure";
---

<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <main>
    <div class="content-container">
      <h3>Payment Canceled</h3>
      <h4>Your payment was not completed. Please try again.</h4>
      <a href="/cart"
        ><button class="button button-primary" role="button"
          >Go Back to Cart</button
        ></a
      >
    </div>
  </main>
</BaseLayout>
