---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Cart | VANGULAR";
const keywords = "Cart, Shopping Cart, Checkout";
---

<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <Header />
  <main>
    <div class="heading">
      <h2>Your Cart</h2>
    </div>

    <section class="content-container">
      <div id="checkout-container">
        <div id="cart">
          <ul id="checkout-cart-items"></ul>
          <p id="checkout-total-quantity">Items: 0</p>
          <p id="checkout-total-price">Total Amount: $0</p>
        </div>

        <div>
          <button class="button button-tertiary" id="clear-cart"
            >Clear Cart</button
          >

          <!-- Or continue shopping?? -->
          <button class="button button-secondary" onclick="history.back()"
            >Go Back</button
          >

          <button class="button button-primary" id="proceed-to-payment"
            >Proceed to Checkout</button
          >
        </div>
      </div>
    </section>
  </main>
  <Footer />
  <script type="module">
    //     import { loadStripe } from "https://js.stripe.com/v3/";

    //     const stripe = await loadStripe(import.meta.env.PUBLISHABLE_KEY); // Use your publishable key

    //     document
    //       .querySelector("#proceed-to-payment")
    //       .addEventListener("click", async () => {
    //         try {
    //           // Redirect to Stripe Checkout
    //           const { error } = await stripe.redirectToCheckout({
    //             lineItems: [
    //               // Replace these with your actual Price IDs and quantities
    //               { price: "price_1QFHCbGMuu0DsYcfBVQtLBQQ", quantity: 1 },
    //             ],
    //             mode: "payment",
    //             successUrl: `${import.meta.env.PUBLIC_SITE_URL}/success`,
    //             cancelUrl: `${import.meta.env.PUBLIC_SITE_URL}/cancel`,
    //           });

    //           if (error) {
    //             console.error("Stripe Checkout error:", error);
    //             alert("Failed to redirect to Stripe Checkout.");
    //           }
    //         } catch (err) {
    //           console.error("Error:", err);
    //           alert("An error occurred while processing your payment.");
    //         }
    //       });
    //
  </script>
</BaseLayout>
