---
import BaseLayout from "../layouts/BaseLayout.astro";
import CartIsland from "../components/CartIsland.jsx";
import logoFallback from "../assets/images/web/logo_eyewhites.png";

const pageTitle = "Cart | VANGULAR";
const keywords = "Cart, Shopping Cart, Checkout";
---

<!-- TO DO:
 on hover of image, have border change too
different colored dividers/other styling things, min width?
-->
<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <main>
    <section class="section">
      <div class="container column flex-center">
        <h3>Your Cart</h3>
        <br />
        <h6>Checkout is currently disabled.</h6>
        <p>
          Sign up for our newsletter below to get details on website launch
          information!
        </p>
      </div>

      <CartIsland client:load fallbackImage={logoFallback.src} />
    </section>
  </main>
</BaseLayout>
