---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Checkout | VANGULAR";
const keywords = "checkout, stripe, payment";
---

<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <Header />
  <main>
    <section class="content-container">
      <div class="heading">
        <h2>Checkout</h2>
      </div>

      <div id="checkout-container">
        <!-- Checkout will insert the payment form here -->
      </div>
    </section>
  </main>
  <Footer />
  <script src="https://js.stripe.com/v3/"></script>
  <script type="module" src="/src/scripts/checkout.js"></script>
  <script type="module">
    import { initializeCheckout } from "../scripts/checkout.js";

    // Initialize the checkout process
    initializeCheckout("{{stripePublicKey}}");
  </script>
</BaseLayout>
