---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Checkout | VANGULAR";
const keywords = "test cart, test checkout, test payment";
---

<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <Header />
  <main>
    <section class="content-container">
      <div class="heading">
        <h2>Checkout</h2>
      </div>

      <div id="checkout-container">
        <div id="cart">
          <ul id="checkout-cart-items"></ul>
          <p id="checkout-total-quantity">Items: 0</p>
          <p id="checkout-total-price">Total Amount: $0</p>
        </div>
        <button class="button button-primary" id="proceed-to-payment"
          >Proceed to Payment</button
        >
        <button class="button button-secondary" id="clear-cart"
          >Clear my cart!</button
        >
      </div>
    </section>
  </main>
  <Footer />
</BaseLayout>
