---
import CheckoutHeader from "../components/CheckoutHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Checkout | VANGULAR";
const keywords = "checkout, stripe, payment";
---

<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <CheckoutHeader />

  <script src="https://js.stripe.com/v3/" defer crossorigin="anonymous"
  ></script>

  <main>
    <div id="checkout-container">
      <!-- Stripe Embedded Checkout will be mounted here -->
    </div>
  </main>
  <!-- <script src="https://js.stripe.com/v3/" async crossorigin="anonymous" -->
  ></BaseLayout
>

<script>
  import { initializeCheckout } from "../scripts/cart/checkout";

  document.addEventListener("DOMContentLoaded", async () => {
    try {
      const stripePublicKey = import.meta.env.PUBLIC_STRIPE_KEY;
      console.log("Initializing checkout with key:", stripePublicKey);
      await initializeCheckout(stripePublicKey);
    } catch (error) {
      console.error("Checkout initialization error:", error);
    }
  });
</script>
