---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Collabs | VANGULAR";
const keywords =
  "art, design, past work, projects, commission, creative, logos, collaborations, cover art";
---

<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <Header />
  <main>
    <div class="heading">
      <h2>Collabs</h2>
    </div>

    <section class="content-container" id="collabs">
      <div class="two-column-container">
        <div class="project-image">
          <img
            src="/src/assets/images/web/logo.png"
            alt="Vangular colorful eye logo"
          />
        </div>

        <div class="project-text">
          <h3>EmmaLee & The Dream</h3>
          <p>
            Digital collage styled album art for EmmaLee & The Dream's first EP.
            EmmaLee & the Dream is a three-woman no-man band based in Brooklyn,
            New York.
            <br /><br />
            <!-- "Really sick review!!" -EmmaLee, Frontwoman of E&D
                            <br><br> -->
            <a
              href="https://emmaleekidwell.com/emmalee-%26-the-dream/"
              target="_blank"
            >
              Check out the band's website here!
            </a>
          </p>
        </div>
      </div>

      <div class="two-column-container">
        <div class="project-image">
          <img
            src="/src/assets/images/web/logo.png"
            alt="Vangular colorful eye logo"
          />
        </div>

        <div class="project-text">
          <h3>The Crew Rowing Co.</h3>
          <p>
            Primary logo for LGBTQ+ friendly rowing company The Crew. The Crew
            focuses on empowering women through inclusive and accessible rowing
            classes and is based in Malden, Massachusetts.
            <br /><br />
            <!-- "Really sick review!!" -Brynly, Founder of The Crew
                            <br><br> -->
            <a href="https://www.inthecrew.com/" target="_blank">
              Check out The Crew's website here!
            </a>
          </p>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</BaseLayout>
