---
import BaseLayout from "../layouts/BaseLayout.astro";

import { Image } from "astro:assets";
import dreamCollab from "../assets/images/web/dreams.png";
import crewCollab from "../assets/images/web/crew_logo.jpg";

const pageTitle = "Collabs | VANGULAR";
const keywords =
  "art, design, past work, projects, commission, creative, logos, collaborations, cover art";
---

<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <main>
    <section class="section" id="collabs">
      <div class="container grid-2">
        <div>
          <Image src={dreamCollab} alt="EmmaLee & The Dream album art" />
        </div>

        <div>
          <h4>EmmaLee & The Dream</h4>
          <br />
          <p>
            Digital collage-styled album art for EmmaLee & The Dream's first EP,
            Unsustainable. EmmaLee & the Dream is a three-woman no-man band
            based in Brooklyn, New York.

            <a
              class="link"
              href="https://emmaleekidwell.com/emmalee-%26-the-dream/"
              target="_blank"
            >
              Visit the band's website here.
            </a>

            <!-- "Really sick review!!" -EmmaLee, Frontwoman of E&D
                            <br><br> -->
          </p>
        </div>
      </div>

      <div class="container grid-2">
        <div>
          <Image src={crewCollab} alt="The Crew Rowing Co. logo" />
        </div>

        <div>
          <h4>The Crew</h4>
          <br />
          <p>
            Primary logo for LGBTQ+ friendly rowing company The Crew. The Crew
            focuses on empowering women through inclusive and accessible rowing
            classes and is based in Malden, Massachusetts.

            <a class="link" href="https://www.inthecrew.com/" target="_blank"
              >Visit The Crew's website here.
            </a>

            <!-- "Really sick review!!" -Brynly, Founder of The Crew
                            <br><br> -->
          </p>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
