---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Coming Soon | VANGULAR"
const keywords = "Vibrant psychedelic designs coming soon"
---

<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <main>
    <section class="fullscreen-background">
      <div class="overlay-text">
        <h3 style="text-align: center">VANGULAR SHOP</h3>
        <h1 style="text-align: center">Coming Soon!</h1>
        <p>Check back in February to see what's in store!</p>
      </div>
    </section>
  </main>
</BaseLayout>
