---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactFormIsland from "../components/ContactFormIsland.jsx";

const pageTitle = "Contact | VANGULAR";
const keywords = "Contact, Inquiry";
---

<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <Header />
  <main>
    <section class="content-container">
      <div class="heading text">
        <h3>Contact Vangular</h3>
        <br />
        <p>
          We love hearing from you! Whether you have a question, feedback, or
          just want to say hi, feel free to reach out. We value your input and
          will respond as soon as possible.
        </p>
      </div>

      <div class="contact-container">
        <ContactFormIsland client:load />
      </div>
    </section>
  </main>
</BaseLayout>
<Footer />
