---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Welcome to VANGULAR!";
const keywords = "Vangular, enter, portal";
---

<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <main class="portal">
    <a href="/home" class="overlay-image">
      <img src="/images/web/blinking_eye.gif" alt="image of an eye" />
    </a>
  </main>
</BaseLayout>
