---
import BaseLayout from "../layouts/BaseLayout.astro";
import blinkingEyeVideo from "../assets/videos/blinking_eye.mp4";
// import blinkingEyeWebm from "../assets/videos/blinking_eye.webm";

const pageTitle = "Welcome to VANGULAR!";
const keywords = "Vangular, enter, portal";
---

<BaseLayout pageTitle={pageTitle} keywords={keywords}>
  <main class="portal">
    <a href="/home" class="overlay-image">
      <video
        autoplay
        loop
        muted
        playsinline
        width="1500"
        height="844"
        class="portal-video"
      >
        <!-- <source src={blinkingEyeWebm} type="video/webm" /> -->
        <source src={blinkingEyeVideo} type="video/mp4" />
      </video>
    </a>
  </main>
</BaseLayout>
