/* Examples */
.mt-md {
  margin-top: var(--spacing-md);
}
.mb-lg {
  margin-bottom: var(--spacing-lg);
}
.text-center {
  text-align: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-muted {
  color: var(--color-text-muted);
}

/* ----------------UNIVERSAL CLASSES---------------- */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-text-primary);
  width: inherit; /* Inherit the width of the parent */
  min-width: var(--min-width);
  padding-top: var(--spacing-2xl);
}

.two-column-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem; /* Optional, adds space between elements */
  flex-wrap: wrap; /* Ensures they wrap to the next line on smaller screens */
}

.heading {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-2xl) var(--spacing-2xl);
  overflow: auto;
}

.image {
  display: flex;
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
  object-fit: contain;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.text {
  flex: 1; /* Allows the text container to take up remaining space */
  display: inline-block;
  justify-content: center;
  margin: auto;
  max-width: var(--max-text-width);
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
  text-align: justify;
  text-justify: auto;
}

.link {
  color: var(--color-info);
  text-decoration: none;
}

.link:hover {
  color: var(--color-text-light);
  transition: var(--transition-normal);
}

.hidden {
  display: none;
}
