<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <meta name="keywords" content="art, design, portfolio, creative" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="icon" href="web-images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>VANGULAR!</title>
  </head>

  <body class="portal">
    <a href="index.html" class="overlay-image">
        <img src="web-images/blinking_eye.gif" alt="image of an eye" style="width: 100%;">
    </a>
  </body>
</html>
