/* ------------------- FOOTER ----------------------- */
.footer {
  background-image: url("/src/assets/images/web/plantie_footer.png");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 100%;
  height: auto; /* Let content set the height */
  /* Pushes footer to bottom */
  width: 100%;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-xl);
  padding: var(--spacing-xl);
  margin: 0 var(--spacing-xl);
  /* min-height: 200px; Ensures footer has a minimum height */
}

.footer-section {
  display: inline;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: var(--border-secondary);
  border-radius: var(--border-radius-md);
  background-color: var(--color-footer);
  column-fill: auto;
  font-size: var(--font-size-sm);

  a {
    flex: 1 1 25%; /* Each link takes up approximately 45% of the container's width */
    flex-basis: auto;
    text-align: left; /* Aligns text inside the links */
    /* display: inline-block; */
  }

  ul {
    text-align: left;
  }
}

.footer-title {
  font-size: var(--font-size-base);
  padding: var(--spacing-md);
}

.link-list {
  padding: var(--spacing-md);
  text-align: center;

  li {
    margin-bottom: var(--spacing-sm);
  }
}

.social-section {
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--spacing-lg);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--social-icon-size);
  height: var(--social-icon-size);
  border-radius: var(--border-radius-circle);
  background-color: var(--color-secondary-light);
  /* border: var(--border-tertiary); */
  transition: all var(--transition-normal);

  i {
    color: var(--color-text-primary);
  }
}

.social-link:hover {
  /* background-color: var(--color-button-primary); */
  background-color: var(--color-border-dark);
  /* transform: translateY(-2px); */
  i {
    color: var(--color-text-light);
  }
}

.newsletter {
  grid-column: span 2;
  grid-row: 2;
  text-align: center;

  h4 {
    font-size: var(--font-size-lg);
  }

  p {
    /* margin-bottom: var(--spacing-md); */
    color: var(--color-text-muted);
    padding: 0 var(--spacing-md);
  }
}

.newsletter form {
  padding: var(--spacing-md) var(--spacing-md);
}

.newsletter button {
  /* width: 100%; */
  /* max-width: 400px; */
  margin: var(--spacing-lg) 0 0 0;
}

.newsletter-input:focus {
  /* outline: none; */
  border-color: var(--color-secondary);
}

/* Quick Links and Shop sections */
.footer-section:not(.social-section, .newsletter) {
  grid-column: span 1;
  grid-row: 2;
}

.footer-bottom {
  /* border-top: var(--border-secondary); */
  padding: var(--spacing-md);
  /* font-size: var(--font-size-xs); */
  text-align: center;
  color: var(--color-text-light);
}

@media (width <= 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
    margin: 0;
  }

  /* Keep socials on top */
  .social-section {
    grid-column: 1;
    grid-row: 1;
  }

  /* Newsletter takes full width below socials */
  .newsletter {
    padding: var(--spacing-md);
    grid-column: 1;
    grid-row: 2;
  }

  /* Quick Links and Shop sections in two columns at bottom */
  .footer-section:not(.social-section, .newsletter) {
    grid-column: span 1;
    grid-row: 3;
  }
}

@media (width <= 992px) {
  /* Footer */
  .footer {
    padding: 0;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 var(--spacing-lg);
    padding: var(--spacing-lg);
    border-top: var(--border-secondary);
  }

  .newsletter {
    grid-column: span 2;
  }

  .social-section {
    grid-column: span 4;
  }
}
