/* ------------------------------------------------------------ */
/* CONTAINERS + SECTIONS */
/* ------------------------------------------------------------ */
.container {
  width: min(100% - 2rem, var(--container-width-max));
  margin-inline: auto;
  padding-inline: var(--spacing-clamp-lg);
  background-color: var(--color-brand-light);
  border-radius: var(--spacing-clamp-md);
}

.container-narrow {
  width: min(100%, var(--container-width-narrow));
  margin-inline: auto;
  padding-inline: var(--spacing-clamp-lg);
}

.section {
  margin-block: var(--spacing-clamp-xl);
  padding-block: var(--spacing-clamp-xl);
  overflow: hidden;
}

.section-sm {
  margin-block: var(--spacing-clamp-lg);
  padding-block: var(--spacing-clamp-lg);
  overflow: hidden;
}

/* ------------------------------------------------------------ */
/* FLEX UTILITIES */
/* ------------------------------------------------------------ */
.flex {
  display: flex;
  gap: var(--spacing-clamp-lg);
}

.flex-center {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  gap: var(--spacing-clamp-lg);
}

.center {
  text-align: center;
  justify-self: center;
}

.row {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-clamp-lg);
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-clamp-lg);
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

/* ALIGNMENT UTILITIES */
/* .span-12 {
  grid-column: span 12;
}
.span-8 {
  grid-column: span 8;
}
.span-6 {
  grid-column: span 6;
}
.span-4 {
  grid-column: span 4;
}
.span-3 {
  grid-column: span 3;
} */

/* ------------------------------------------------------------ */
/* GRID SYSTEM */
/* ------------------------------------------------------------ */
.grid {
  display: grid;
  gap: var(--spacing-clamp-lg);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-clamp-lg);
  align-items: center;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-clamp-lg);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-clamp-lg);
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--spacing-clamp-lg);
}

/* ----------------GALLERY / MERCH---------------- */

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: var(--spacing-clamp-xl);
  padding: var(--spacing-clamp-xl) 0;
  max-width: var(--container-width-max);
  margin: 0 auto;
  justify-content: center;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.image-grid img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.image-grid div {
  width: 20rem;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* ------------------- SHOPPING CART ----------------------- */

.cart-products-grid {
  display: grid;
  grid-template-columns:
    minmax(400px, 3fr) minmax(var(--thumbnail), 1fr)
    minmax(var(--thumbnail), 1fr);
  gap: var(--spacing-clamp-xl);
  width: 100%;
  align-items: center;
  padding: var(--spacing-clamp-md);
  margin-bottom: var(--spacing-clamp-lg);
  font-size: var(--font-size-clamp-base);
}
