/* Display, flex, grid, position, width,
max-width, margin, padding */

/* ----------------UNIVERSAL CLASSES---------------- */

/* CLASS NOT CURRENTLY USED */
.heading {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-clamp-xl) var(--spacing-clamp-xl);
  overflow: auto;
}

.image-container {
  display: flex;
  padding: var(--spacing-clamp-lg);
  flex-direction: column;
  gap: var(--spacing-clamp-lg);
}

.image-container img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: var(--border-radius-md);
}

.image-container--bottom img {
  object-position: bottom;
}

.text-container {
  margin: auto;
  padding: var(--spacing-clamp-lg);
}
