/* Display, flex, grid, position, width,
max-width, margin, padding */

/* ----------------UNIVERSAL CLASSES---------------- */
/* CLASS NOT CURRENTLY USED */
.heading {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-clamp-xl) var(--spacing-clamp-xl);
  overflow: auto;
}

.image-container {
  display: flex;
  padding: var(--spacing-clamp-lg);
  margin: auto;

  flex-direction: column;
  gap: var(--spacing-clamp-lg);
}

.image-container img {
  width: 30rem;
  max-width: 100%; /* Ensures the image scales properly */
  height: auto; /* Maintains aspect ratio */
  border-radius: var(--border-radius-md);
}

.text-container {
  margin: auto;
  padding: var(--spacing-clamp-lg);
}
