---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { pageTitle, keywords } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head pageTitle={pageTitle} keywords={keywords} />
  <body>
    <Header />
    <slot />
    <Footer />
    <script
      type="module"
      defer
      src={new URL("../scripts/main.js", import.meta.url).pathname}></script>
  </body>
</html>
