---
import { getImage } from "astro:assets";
import Head from "../components/Head.astro";

import bgImage from "../assets/images/web/holographic_background.webp";
import bgImageDark from "../assets/images/web/holographic_background_darkmode.webp";

const { pageTitle, keywords } = Astro.props;

const optimizedBg = await getImage({ src: bgImage, format: "webp", widths: [1920] });
const optimizedBgDark = await getImage({ src: bgImageDark, format: "webp", widths: [1920] });
---

<!doctype html>
<html lang="en">
  <Head pageTitle={pageTitle} keywords={keywords} />
  <body
    style={`--bg-url: url("${optimizedBg.src}"); --bg-url-dark: url("${optimizedBgDark.src}");`}
  >
    <slot />
  </body>
</html>
